/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    padding: 10px;
}

.pageOption {
    width: 35px;
}

.testRow, .story-summary, .clickable {
    cursor: pointer;
}
.test-table .testRow,
.release-table .release-row {
    border-bottom: 1px solid #fff;
}

.testRow,
.release-row {
    background: #f1f0f0;
}

.testRow:hover,
.release-row:hover {
    background: #efe5e5;
    color: #000;
    text-decoration: underline;
}

.testRow.highlight, 
.testRow.highlight:hover,
.release-row.highlight, 
.release-row.highlight:hover {
    background: #41336b;
    color: #f1f0f0;
}

.runtime-heading {
    width: 70px;
}

.test-table .target,
.test-table .start-date,
.test-table .start-time,
.test-table .pass-fail,
.test-table .slider,
.story-table .runtime,
.story-table .name,
.story-table .context,
.release-table .test-count,
.release-table .pass-rate,
.release-table .fail-rate,
.release-table .story-count {
    border-left: 1px solid #ddd;
}

.test-table .slider {
    width: 200px;
}

.test-table .slider div {
    height: 16px;
    float: left;
}
.test-table .slider .passed {
    background: #659a00;
}
.test-table .slider .failed {
    background: #a60400;
}
.test-table .slider .ignored {
    background: #ffe200;
}

.story-table .runtime {
    width: 60px
}

.story-table .start-time {
    width: 130px;
}

.release-table .test-count,
.release-table .pass-rate,
.release-table .fail-rate,
.release-table .story-count {
    text-align: center;
}

.story-table .name {
    width: 100%;
}

.table-options {
    height: 25px;
}

.story-table tr {
    border-top: #222 solid 1px;
    border-bottom: #222 solid 1px;
    font-weight: normal;
}

.story-table .story-details {
    color: #222;
}

.story-summary.ignored {
    background: #ffe200;
    color: #000;
}
.story-summary.ignored:hover {
    background: #bfb130;
    color: #000;
    text-decoration: underline;
}
.story-summary.failed {
    background: #a60400;
    color: #ffcf73;
}
.story-summary.failed:hover {
    background: #ffcf73;
    color: #000;
    text-decoration: underline;
}

.story-summary.passed {
    background: #659a00;
    color: #06276f;
}
.story-summary.passed:hover {
    background: #6ee768;
    color: #000;
    text-decoration: underline;
}

.screenshot img {
    width: 355px;
    border: 1px solid #333;
}

.exception .message {

}

.testSummaryPassed {
}

.testSummaryFailed {
}

.testRow:hover, 
.story-summary.passed:hover,
.release-row:hover {
    background-color: #e5efe5;
    text-decoration: underline;
}

#all_tests {
    padding: 0 10px 0 0;
}

#all_stories {
    display: inline-block;
}

#all_stories table.story-table td,
#all_releases table.release-table td,
th {
    padding: 0 15px 0 15px;
}

ul.categories {
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
}

ul.categories ul.categories {
    padding: 0 0 0 20px;
}

ul.categories li.category {
    font-weight: bold;
    border: 1px solid #000;
    border-bottom: 0;
}

ul.categories li.category li.category{
    margin: 0;
    border-right: 0;
}

ul.categories li.category:last-child {
    border-bottom: 1px solid #000;
}

ul.categories li.category:last-child ul li{
    border-bottom: 0;
}

ul.categories li.category .story-table {
    width: 100%;
}

ul.categories ul.categories li.category {
    
}

#all_stories .log {
    margin-left: 15px;
    font-size: 80%;
}

.categories .story-count {
    float: right;
}

#nav ul {
    list-style-type: none;
    margin: auto;
    position: absolute;
    right: 10px;
    top: 10px;
}
#nav ul li {
    float: left;
    margin: 0 15px 0;
}
.story-summary .status {
    padding: 0 5px;
}